# ignore godot import folder and import files
src/.import/
*.import
# The only import file that is need is the moon texture to make tiling work
!src/demos/lunar_lander/environment/moon_texture.jpg.import
# ignore windows icons
src/icon.ico
# ignore my vscode setup
src/.vscode/

# note to self, changes to texture import file are not tracked. Unchange using
# git update-index --no-assume-unchanged moon_texture.jpg.import